<!DOCTYPE html>
<html>
<body>

	<h1>{{chat.name}} <h1>
<br><br>
<a href = "/home/">
	home
</a>
<p>{{error}}<p>
<form action = "{% url 'add_user' chat.id %}"  method ="post">
	{% csrf_token %}
	<input
			type="text"
			name="username"
			placeholder="Nutzername"
		>

	<button type="submit">
		Hinzufügen
	</button>
</form>

<h2>Messages:</h2>

<ul>
	{% for message in messages %}
	<li>
		<p>{{message.sender}}:</p>
		<p>{{message.content}}</p>
	</li>
	{% empty %}
	<li> Noch keine Nachrichten im Chat</li>
	{% endfor %}

<br> <br>
<form action = "{% url 'send_message' chat.id %}"  method ="post">
	{% csrf_token %}
	<input
			type="text"
			name="content"
			placeholder="Nachricht"
		>

	<button type="submit">
		Senden
	</button>
</form>

		
</body>
</html>

